@charset "UTF-8";

/*基本設定
-----------------------------------------*/
* {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background: url(../img/trancepercent.png);
}
li {
list-style: none;
}
a img {
border: none;
}
img {
vertical-align: bottom;
}
html {
}
body {
padding: 0;
margin: 0;
position: relative;
font-size: 14px;
color: #40200B;
line-height: 1.2;
font-family: "Hiragino Kaku Gothic Pro","メイリオ","ＭＳ Ｐゴシック",sans-serif;
background-color: #EFA92A;
/*background: #F7D9DA url(../img/back01.png);*/
}
a {
color: #ED1E79;
}
a:hover {
color: #C90059;
}
hr {
margin: 2em 0;
height: 6px;
clear: both;
background: url(../img/midashi03.png) repeat-x;
border: none;
}
main, header, footer, section, article, figure ,figcaption {
display: block;
}
/*noscript
-----------------------------------------*/
p#noscript {
width: 80%;
padding: 30px;
margin: 0 auto;
color: red;
font-weight: bold;
}

/*clearfixまとめて
-----------------------------------------*/
#wrapper:after,
section:after,
article:after,
main:after {
content: "";
display: block;
clear: both;
}

/*カラムベース
-----------------------------------------*/
#wrapper {
max-width: 1500px;
min-width: 600px;
width: 80%;
margin: 0 auto;
padding: 0 0 0 200px;
}
#wrapper > div {
float: left;
position: relative;
}
#sidebar {
width: 200px;
margin: 0 0 0 -200px;
/*background: #EFA92A;*/
padding: 15px 0;
}
#mainContent {
width: 100%;
background: #FFF;
padding: 15px;
}
#sidebar:before,
#mainContent:before {/*左右の飾り*/
content: "";
position: absolute;
top: 0;
bottom: 0;
width: 85px;
background-repeat: repeat-y;
}
#sidebar:before {/*左の飾り*/
left: -85px;
background-image: url(../img/back02.png);
background-position: top right;
}
#mainContent:before {/*右の飾り*/
right: -85px;
background-image: url(../img/back03.png);
background-position: top left;
}

/*フッター:ベース＆コピーライト
-----------------------------------------*/
#mainContent > footer {
clear: both;
padding-top: 60px;
font-family: Arial,sans-serif;
}
#mainContent > footer small {
display: block;
text-align: center;
color: #C22979;
font-size: 14px;
background: url(../img/footer02.png) top repeat-x;
position: relative;
margin-top: 3em;
padding: 25px 0 70px;
}
#mainContent > footer small:after {
position: absolute;
bottom: 10px;
right: 50%;
margin-right: -380px;
}
/*フッター：メニュー
-----------------------------------------*/
#mainContent > footer ul {
text-align: center;
}
#mainContent > footer ul li,
#mainContent > footer ul ul {
display: inline;
}
#mainContent > footer ul a,
#mainContent > footer ul span {
display: inline-block;
}
#mainContent > footer ul li + li:before {
content: " ｜ ";
color: #C22979;
}
#mainContent > footer ul span:after {
content: " > ";
color: #C22979;
}

/*フッター：SNS告知
-----------------------------------------*/
#mainContent > footer > aside {
margin: 0 0 50px;
padding: 15px 10px;
border: 1px dotted #C22979;
border-left: none;
border-right: none;
position: relative;
}
#mainContent > footer > aside:before {
content: "";
position: absolute;
top: 10px;
left: 49%;
bottom: 10px;
}
#mainContent > footer > aside:after {
content: "";
display: block;
clear: both;
}
#mainContent > footer > aside dl {
margin-bottom: 5px;
display: table;
table-layout: fixed;
width: 50%;
float: left;
}
#mainContent > footer > aside dl dt,
#mainContent > footer > aside dl dd {
display: table-cell;
vertical-align: middle;
padding: 15px;
}
#mainContent > footer > aside dl dt {
width: 70px;
}


/*ページの上に戻る
-----------------------------------------*/
#goto-pagetop {
position: fixed;
bottom: 76px;
right: 76px;
background: url(../img/trancepercent.png);/*IE9, 10 対策*/
}
#goto-pagetop a {
display: block;
text-indent: -999em;
overflow: hidden;
width: 76px;
height: 76px;
text-decoration: none;
position: relative;
}
#goto-pagetop a:before {
content: url(../img/pagetop.png);
display: block;
position: absolute;
text-indent: 0;
width: 76px;
height: 76px;
top:0;
left: 0;
}

/*ナビゲーションカラム:ロゴまわり
-----------------------------------------*/
#sidebar h1 {
margin: 0;
text-align: center;
}

/*ナビゲーションカラム:メニュー
-----------------------------------------*/
#sidebar nav > ul {
border-top: 2px dotted #FFF;
margin-top: 15px;
}
#sidebar nav ul a,
#sidebar nav ul span {
padding: 15px;
display: block;
border-bottom: 2px dotted #FFF;
color: #603813;
font-weight: bold;
text-decoration: none;
}
#sidebar nav ul ul a {
font-size: 12px;
font-weight: normal;
padding-left: 30px; 
}
#sidebar nav ul a:hover,
#sidebar nav ul .here > a,
#sidebar nav ul .here > span {
color: #FFF;
background: #915C50;
}

/*コンテンツカラム:見出し1index.html使用）
-----------------------------------------*/
#mainContent main header {
width: 100%;
height: 180px;
overflow: hidden;
position: relative;
}
#mainContent main header img {
position: absolute;
top: 0;
left: 0;
z-index: 1;
}
#mainContent main header h1 {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background : rgba(255, 255, 255, .5);
color: #C22979;
font-size: 36px;
padding: 15px 20px;
z-index: 2;
}
.ie8 #mainContent main header h1 {
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4FFFFFFF', endColorstr='#4FFFFFFF',GradientType=0 );
}
#mainContent main header h1 small {
color: #40200B;
font-size: 12px;
font-weight: normal;
margin: 0 1em;
}

/*コンテンツカラム:見出し2 & リード文（index.html使用）
-----------------------------------------*/
#mainContent main h2,
#mainContent main p.read-txt {
border: 3px solid #EFA92A;
font-size: 26px;
color: #603813;
font-weight: normal;
margin: 28px 0 20px;
padding: 10px;
text-align: center;
position: relative;
}
#mainContent main p.read-txt {
font-size: 14px;
padding: 15px;
margin-bottom: 30px;
}
#mainContent main h2:before,
#mainContent main p.read-txt:before {
position: absolute;
top: -28px;
left: 50%;
margin-left: -59px;
}

/*コンテンツカラム:見出し3
-----------------------------------------*/
#mainContent main h3 {
background: url(../img/midashi03.png) bottom repeat-x;
font-size: 20px;
color: #603813;
font-weight: normal;
margin: 30px 0 15px;
padding: 0 15px 20px 15px;
}

/*コンテンツカラム:見出し3（更新履歴）
-----------------------------------------*/
#mainContent main .update h3 {
border-top: 1px solid #A67C52;
padding-top: 30px;
margin-top: 0;
width:1000px;
}

/*コンテンツカラム:見出し4
-----------------------------------------*/
#mainContent main h4 {
font-size: 18px;
color: #603813;
font-weight: normal;
margin: 30px 0 15px;
padding: 0 15px 10px 43px;
border-bottom: 1px dotted #A67C52;
position: relative;
}
#mainContent main h4:before {
content: url(../img/icon02.png);
position: absolute;
top: 0;
left: 15px;
}

/*コンテンツカラム:見出し5（index.html 更新履歴用）
-----------------------------------------*/
#mainContent main .update article h4 {
font-size: 14px;
padding: 0 15px 10px 20px;
}
#mainContent main .update h4:before {
content: url(../img/icon01.png);
left: 5px;
}
#mainContent main .update time {
margin: 0 0 5px 15px;
display: block;
font-size: 12px;
color: #736357;
}

/*平文 & レイアウト
-----------------------------------------*/
p {
margin-bottom: 1em;
line-height: 160%;
}
section p {
clear: both;
}
main div {
float: left;
margin: 0 25px 1em 0;
}
main p {
margin: 0 0 1em 15px;
}
main article {
margin-bottom: 2em;
clear: both;
}
main article + article {
border-top: 4px double #E8D0BC;
}

/*普通のリスト
-----------------------------------------*/
main ul {
margin: 0 0 0 1em;
}
main ul li {
margin: 0 0 6px 0;
}
main ul li:before {
content: "・";
margin-left: -1em;
}

/*画像関連
-----------------------------------------*/
.img-wrapper,
figure {
background : #F2F1EB;
padding: 10px;
margin: 0 0 15px 15px;
float: left;
font-size: 12px;
}
figure img {
margin-bottom: 8px;
}


/*テーブル1（recipe.html）
-----------------------------------------*/
table.style1 {
border: 4px double #D1CCBF;
border-collapse: collapse;
position: relative;
float: left;
margin-top: .5em;
margin-bottom: 2em;
width: 100%;
}
.style1 caption {
font-size: 16px;
font-weight: bold;
text-align: left;
margin-bottom: 10px;
}
.style1 tr {
border-bottom: 1px dotted #D1CCBF;
}
.style1 td, .style1 th {
padding: 15px 10px 5px;
}
.style1 th {
white-space: nowrap;
width: 1%;
text-align: left;
font-weight: normal;
}
table.style1 {
margin-right: 35px;
}
div.img-wrapper + table.style1,
figure + table.style1 {
margin-right: 0;
margin-left: 35px;
}


/*テーブル2（profile.html 上）
-----------------------------------------*/
table.style2 {
border-collapse: collapse;
position: relative;
float: left;
margin-bottom: 2em;
width: 100%;
}
.style2 tr {
border-bottom: 1px dotted #D1CCBF;
}
.style2 td, .style2 th {
padding: 15px 10px 5px;
}
.style2 th {
white-space: nowrap;
width: 1%;
text-align: left;
font-weight: normal;
}
table.style2 {
margin-right: 35px;
}
div.img-wrapper + table.style2,
figure + table.style2 {
margin-right: 0;
margin-left: 35px;
}

/*テーブル3（profile.html 下）
-----------------------------------------*/
table.style3 {
border-spacing: 2px;
border-collapse: spacing;
position: relative;
float: left;
margin-bottom: 2em;
width: 100%;
}
.style3 td, .style3 th {
padding: 10px;
border: 1px dotted #F2F1EB;
}
.style3 th {
white-space: nowrap;
width: 1%;
text-align: left;
font-weight: normal;
background: #F2F1EB;
}
table.style3 {
margin-right: 35px;
}
div.img-wrapper + table.style3,
figure + table.style3 {
margin-right: 0;
margin-left: 35px;
}
table.style3 a {
color: #40200B;
}
table.style3 a:hover {
color: #732d00;
}

/* サブ枠：ベース
-----------------------------------------*/
.sub {
margin: 25px 0 35px 0;
padding: 15px 20px;
width: 320px;
float: right;
background: url(../img/sub03.png);
position: relative;
}
.sub:before,
.sub:after {
position: absolute;
left: 0;
}
.sub:before {
content: url(../img/sub01.png);
top:-30px;
}
.sub:after {
content: url(../img/sub02.png);
bottom:-30px;
}

/*サブ枠：ページ内リンクのリスト
-----------------------------------------*/
.sub ul {
color: #C22979;
font-size: 12px;
margin: 0 15px;
}

/* サブ枠：見出し
-----------------------------------------*/
#mainContent main .sub h4 {
margin: 0px 0 15px;
padding: 0;
border-bottom: none;
}
#mainContent main .sub h4:before {
display: none;
}

/* サブ枠：figure, 画像
-----------------------------------------*/
.sub figure {
background : none;
padding: 0;
margin: 0 0 25px 0;
float: none;
font-size: 12px;
}
.sub > img {
margin-bottom: 25px;
}
.sub figure img {
margin-bottom: 8px;
}
.sub figure h5 {
margin-bottom: 3px;
font-size: 12px;
font-weight: normal;
}


